@{
    ViewData["Title"] = "Privacy Policy Copy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>At Notice, one of our main priorities is the privacy of our visitors. This Privacy Policy document is designed to help you understand how we collect, use and safeguard the information you provide to us.</p>

    <h4>1. Agreement</h4>
    <p>By accessing our website, you you accept our Privacy Policy and agree to its Terms of Use.</p>

    <h4>2. Information collected</h4>
    <p>Information collected automatically</p>

    <p>By visiting our Website, our servers automatically collect information provided by your browser. This data may include information such as IP address, browser type and version, language preferences, referring/exit pages and URLs, the time and date of access and other non-personal information.</p>

    <p>Information you provide us by registering for an account</p>

    <p>To become a subscriber to the Service you will need to create a personal profile by registering with the Service. To register you will need to enter your email address and create a user name and a password. By registering, you are authorizing us to collect, store and use your email address in accordance with this Privacy Policy.</p>
</div>