@{
    ViewData["Title"] = "SalesWebProject";
    ViewData["SubTitle"] = "C# + ASP.NET CORE + Razor";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>@ViewData["SubTitle"]</p>
    <img src="images/Diagrama-Classes-SalesProject.png" alt="Sample Photo" />
</div>
